body header, body nav, body main, body footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body nav {
    height: 90px;
    background-color: #00ADF4;
    margin: auto;
    text-align: center;
}
#menu {
    list-style-type: none;
    width: 900px;
    display: inline-block;
    text-align: center;
}
#menu li {
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 50px;
    font-size: 11px;
    background-color: #19CD82;
    border: 2px solid #03213B;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 15px;
    border-radius: 20px;
    color: #FDFDFD;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 80px;
    text-align: center;
    margin-top: 10px;
}
body main {
    background-color: #609CB4;
    padding: 10px;
    height: auto;
}
body footer h6 {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-right: 38px;
    padding-left: 38px;
    padding-bottom: 38px;
    height: 25px;
}
body header h1 {
    font-size: 48px;
    height: 60px;
    padding-top: 45px;
    text-align: center;
}
body footer {
    background-color: #0B1D2A;
    color: #FBFBFB;
    height: 100px;
    text-align: center;
}
body main section {
    width: 900px;
    background-color: #8DDDE1;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    margin-bottom: 20px;
}
#menu_interno li {
    list-style-type: none;
    display: inline-block;
    margin-top: 0;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0;
    width: 110px;
    height: 60px;
    padding: 10px;
    background-color: #0999D1;
    border-radius: 20px;
    border: 2px solid #024064;
    font-size: 12px;
    color: #F7F7F7;
    font-weight: bold;
    text-align: center;
}
#m1 {
}
section p a:link , section p a:visited{
    color: #0027F0;
    font-weight: bolder;
    font-size: 18px;
}
main section p:active {
    color: #EDB1FF;
}
#menu_interno li a:link, #menu_interno li a:visited {
    text-decoration: none;
    color: #EFF6B1;
    font-weight: bold;
}
#menu_interno li a:hover {
    color: #71DC07;
    text-shadow: 5px 0px 8px #B902FA;
}
section p a:hover {
    color: #00EBB3;
}
#m2 {
}
#m3 {
}
#m4 {
}
#menu_interno {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    display: inline-block;
    list-style-type: none;
    width: 700px;
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}
body header {
    height: 150px;
    color: #FAFAFA;
    background-color: #074278;
}
main section h2 {
    padding-bottom: 30px;
}
#tabla_1, #tabla_1 td, #tabla_1 th {
    border: 2px solid #1B3F74;
}
#tabla_1 {
    margin-top: 20px;
}
#tabla_2, #tabla_2 th  , #tabla_2 td {
    border: 2px solid #0CAABF;
}
#tabla_2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top: 20px;
}
#tabla_3 tbody tr:nth-child(even) {
    background-color: #60A8DC;
}
#tabla_3 {
    border-collapse: collapse;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#tabla_4 {
    margin: 10px;
    border-collapse: collapse;
}
#tabla_4 td, #tabla_4 th {
    border: 2px solid #3179C3;
    text-align: left;
}
#tabla_4 th {
    background-color: #454950;
    color: #FBFBFB;
}
#tabla_4  td:nth-child(even)   {
    background-color: #4A8ECF;
    width: 200px;
}
#tabla_4 td:nth-child(odd) {
    background-color: #5AB7EC;
    width: 200px;
}
#tabla_3 tbody tr:nth-child(odd) {
    background-color: #1B679F;
    color: #FFFFFF;
}
#tabla_3 thead tr {
    background-color: #0B4567;
    color: #FAFAFA;
}
#tabla_2 th {
    font-size: 18px;
    height: 40px;
    background-color: #1B8EC1;
    padding-top: 10px;
    margin: auto;
    color: #FDFDFD;
    text-align: center;
}
#tabla_2 td {
    padding: 10px;
    background-color: #76C8ED;
    text-align: left;
}
#tabla_5 {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #00C8BE;
}
#tabla_5 th   {
    height: 30px;
    background-color: #1D7170;
    color: #F8F8F8;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: auto;
}
#tabla_5 tbody tr:hover {
    background-color: #0E6483;
    color: #FEFEFE;
}
#tabla_5 tr td {
    height: 50px;
    text-align: center;
}
#tabla_6 {
    width: 1200px;
    margin-top: 20px;
    border-collapse: collapse;
    overflow-x: scroll;
}
#tabla_receptiva {
    overflow-x: scroll;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
body footer {
    padding-top: 30px;
}
body footer h6 {
    margin: auto;
}
.imagen_1 {
    margin-top: 20px;
    width: 50%;
    height: 50%;
    margin-left: 20px;
}
#menu {
    width: auto;
}
.imagen_2 {
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 7px solid #10538F;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.redpanda {
}
redpanda_1 {
    width: 20%;
    height: 20%;
}
.imagen_3 {
    width: 128px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    height: auto;
}
.img_fizq {
    float: left;
}
.img_fder {
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    float: right;
    font-size: 12px;
}
.parrafo_img {
    margin: 10px;
    padding: 10px;
}
.imagen_fondo {
    background-position: 10%
%;
    background-position: 13px
%;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: 20%
%;
    background-repeat: no-repeat;
    background-image: url(../medios/tiger.jpg);
    background-position: 20%
%;
    background-position: 50% 40%;
    color: #FFFFFF;
}
.imagen_4 {
    width: 30%;
    margin: 10px;
    height: auto;
}
.filtro_grayscale {
    filter: grayscale(100%);
}
.filter_brigthness {
    filter: brigthness(50%);
}
.filtro_contrast {
    filter: contrast(60%);
}
.filtro_invert {
    filter: invert(100%);
}
.filtro_saturate {
    filter: saturate(200%);
}
.filtro_sepia {
    filter: sepia(100%);
}
.filtro_opacidad {
    filter: opacity(50%);
}
.filtro_blur {
    filter: blur(5px);
}
.sombra {
    -webkit-box-shadow: 10px 10px 41px #909BA3;
    box-shadow: 10px 10px 41px #909BA3;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Image-Maps-Com-image-maps-2022-09-30-073645 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#audio_93961063 {
}
.centrar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}
#video_1 {
    width: 50%;
}
#video_2 {
    height: auto;
    width: 30%;
}
.video_3 {
    width: 60%;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
#select {
}
#form2 {
    background-color: #284A5D;
    color: #FEFEFE;
}
#form1 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    padding: 30px;
    background-color: #284A5D;
    text-align: center;
    border-radius: 15px;
    border: 7px solid #00BFBF;
    color: #FFFFFF;
}
#form1 input[type=text] {
    width: 200px;
    height: 35px;
}
#form1 input[type=submit] {
    width: 100px;
    height: 30px;
    display: inline;
    background-color: #76A6A6;
    color: #FFFFFF;
    font-weight: bold;
}
#form3 input[type=submit] {
    width: 100px;
    height: 30px;
    display: inline;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #76A6A6;
}
input[type=submit] {
}
#boton1 {
    margin-left: 20px;
}
#form2 #botón2 {
    background-color: #19CD3B;
    width: 100px;
    height: 30px;
    display: inline;
    color: #D8FAEF;
    border: 5px inset #15EB91;
    margin-bottom: 15px;
    margin-left: 25px;
    text-align: center;
}
#form #select {
    width: 20%;
}
#form2 #select option:hover  {
    background-color: #5F9ABA;
    color: #FDFDFD;
}
#form2 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 30;
    margin-top: 30px;
    background-color: #96D2B8;
    width: 40%;
    border: 5px solid #08623D;
    text-align: left;
    padding-right: 30px;
    padding-left: 30px;
}
#form2 #pais {
    background-color: #19CD82;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
#select option:hover {
    color: #88B3CC;
}
#form2 input[type=text] {
    width: 30%;
}
#form3 {
    margin-top: 20px;
    width: 400px;
    height: auto;
    padding: 30px;
    background-color: #4BCEFF;
    margin-left: auto;
    margin-right: auto;
}
#form3 label {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#form3 #Nombre , #form3 #email{
    width: 100%;
    padding: 10px;
    height: 30px;
    color: #7FE7F5;
    font-weight: bold;
    font-style: italic;
    background-color: #051011;
}
#form3 #comentario {
    width: 100%;
    padding: 10px;
    height: 150px;
    color: #7FE7F5;
    font-weight: bold;
    font-style: italic;
    background-color: #041F23;
}
#form4 {
    padding: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #175C71;
    color: #03CE92;
    font-style: italic;
    font-weight: bold;
    width: 450px;
    height: auto;
    border-radius: 15px;
    border: 8px solid #05BA90;
    margin-bottom: 15px;
    font-size: 11px;
}
#form4 #contraseña option:hover {
    background-color: #B6F9D4;
}
#form4 #usuario , #form3 #contraseña , #form3 #telefono {
    width: 150px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    height: 30px;
}
#form4 #botón4 {
    width: 100px;
    height: 30px;
    background-color: #76A6A6;
    color: #FFFFFF;
}
#botón4 {
}
#form4 #calificacion {
}
.ricardo {
    padding: auto;
    height: 700px;
    margin-bottom: 25px;
}
#img #world {
    float: right;
}
#form4 .img_fder {
    width: 48px;
    height: 0vmax;
}
